.viewer {
    display: inline-block;
    padding: .3em;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.selector {
    justify-content: center;
    align-items: center;
}

.selector input {
    width: 1.4em;
    height: 1.4em;
}

.gridContainer {
    display: inline-block;
    padding: .3em;
}

.selectedRow {
    background-color: #b6cce6!important;
}

table tr:hover {
    background-color: rgba(2, 33, 249, 0.42);
}

.editor {
    position: relative;
    display: flex;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    max-height: 2em;
    background-color: transparent;
    margin-left: 1px;
    margin-right: 1px;
    padding: .3em;
}

.editor textarea {
    position: absolute;
    resize: both;
    width: 100%;
}

html body {
    margin: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.editor-control {
    outline: 2px solid rgb(78, 138, 250);
    width: 100%;
    height: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: transparent;
}

.editor-control input {
    margin-top: .3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

option {
    font-size: 1em;
    padding: .2em;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    padding: .85em;
}

.header-container div.exp {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    white-space: nowrap;
}

.header-container span.icon {
    color: aqua;
    font-size: 1.5em;
    cursor: default;
}

table caption {
    caption-side: top !important;
    padding: .6em;
    background: darkgreen;
    color: wheat;
    caption-side: top !important;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(167, 168, 168);
}

.data-grid td {
    padding: .3rem;
    border: 1px solid rgb(194, 194, 196);
}

.gridContainer td:focus {
    outline-style: solid;
    outline-width: 2px;
    z-index: 999;
}

.error-cell {
    background-color: rgba(253, 4, 4, 0.52);
}

.container {
    margin-top: 3em;
}

thead td {
    padding: 0em!important;
    background-color: rgb(206, 211, 212)
}